# Dependency directories
Backend/node_modules/
Backend/package-lock.json

# uploads
Backend/uploads/*.*

# Logs
Backend/logs
Backend/*.log
Backend/npm-debug.log*
Backend/yarn-debug.log*
Backend/yarn-error.log*
Backend/lerna-debug.log*
Backend/.pnpm-debug.log*

# parcel-bundler cache (https://parceljs.org/)
Backend/.cache
Backend/.parcel-cache

.idea/